<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加服务器</title>
</head>
<body>
    <form action="/addHostDetail" method="post">
        <label>服务器地址：<input type="text" name="hostAddress"></label><br>
        <label>服务器端口：<input type="text" name="port" placeholder="默认：22"></label><br>
        <label>用--户--名：<input type="text" name="username"></label><br>
        <label>密------码：<input type="text" name="password"></label><br>
        <button type="submit" formmethod="post">提交</button>
    </form>
</body>
</html>