<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<>
<h2>标签详情</h2>
<table width="1000" border="1">
    <tr><th>表名</th><td>{{table_name}}</td><th>表数据量</th><td>{{num}}</td></tr>
    <tr>
        <th>字段名</th>
        <th>资金账号</th>
        <th>极大值</th>
        <th>时间维度</th>
        <th>资金账号</th>
        <th>极小值</th>
        <th>时间维度</th>
        <th>NULL值</th>
        <th>备注</th>
    </tr>
    <h1>{{ detail.0 }}</h1>
    {% for column_detail in detail %}
            <!-- max_value -->
            {% if column_detail.value_type == 2 %}
                <tr>
                <td>{{column_detail.column_name}}</td>
                <td>{{column_detail.fund_account}}</td>
                <td>{{column_detail.value}}</td>
                <td>{{column_detail.interval_type}}</td>
                <!-- min_value -->
            {% elif column_detail.value_type == 1 %}
                <td>{{column_detail.fund_account}}</td>
                <td>{{column_detail.value}}</td>
                <td>{{column_detail.interval_type}}</td>
                <!-- null_value -->
            {% else %}
                <td>{{column_detail.value}}</td>
                </tr>
            {% endif %}
    {% endfor %}
</table>
</body>
</html>