<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试工具</title>
</head>
<body>
        <!--{{all_tables}}-->
		<h1 align="center">测试工具: 共 {{tools_num}} 个</h1>
		<table width=800 border=2 color='black' align="center">
            <tr>
                <th width="200">工具名</th>
                <th width="500">简介</th>
                <th width="100">备注</th>
            </tr>
            {% for tool in all_tools %}
            <tr>
                <td align="left">{{tool.name}}</td>
                <td align="left">{{tool.summary}}</td>
                <td><a href="{{tool.url}}" target="{{tool.name}}" align="center">查看</a></td>
            </tr>
            {% endfor %}
		</table>

</body>
</html>