<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据统计</title>
</head>
<body>
		<h1>标签数据统计结果报表</h1><hr>标签总个数:<br>
		<p>标签列表：</p>
		<ol>
			<li>标签1</li>
			<li>标签2</li>
			<li>标签3</li>
			<li>标签4</li>
		</ol>

		<h2>Lables Detail</h2>
		<table width=800 border=2 color='black'>
            <tr>
                <th>表名</th><td align="right">table_name</td>
                <th>表数据量</th><td align="right">10000</td>
            </tr>
            <tr>
                <th>字段名</th>
                <th>资金账号</th>
                <th>极大值</th>
                <th>时间维度</th>
            </tr>
            <tr>
                <td align="right">column</td>
                <td align="right">fund_account</td>
                <td align="right">max_value</td>
                <td align="right">近一月</td>
            </tr>
		</table>

</body>
</html>