<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>正交表测试工具</title>
</head>
<h2 align="center">正交表配置</h2>
<table width="800" border="1" align="center">
    <link align="center" href="orthogonal_array_setting.html" target="_blank">
    <button>配置</button>
    </link>
    <p align="center">
        示例
    </p>

    <tr>
        <th>配置项</th>
        <th>配置值</th>
        <th>配置介绍</th>
    </tr>
    <!--
    <tr>
        <td width="500" align="middle">{{factor}}</td>
        <td width="200" align="middle">{{col}}</td>
        <td width="100" align="middle">{{split}}</td>
    </tr>
    -->
    <tr>
        <td width="200" align="middle">正交因子水平值</td>
        <td width="500" align="middle">{'0': ['0','q','f'], '1': ['0','1','2','6,7,S,X']}</td>
        <td width="500" align="left">
            正交因子水平值为正交因子的值，此处的值的设定需与正交表的列的值对应；合并列的值需用逗号分隔为一个字典项。
            此处表示， 第 1 列正交表的值范围是 ['0','q','f'], 第 2 列范围为：['0','1','2','6,7,S,X']
            其中，第 2 列值中，"6,7,S,X" 为合并列，相当于四列值合并为一列；需逗号分隔；
        </td>

    </tr>
    <tr>
        <td width="200" align="middle">正交表因子列</td>
        <td width="500" align="middle">1,4,7</td>
        <td width="500" align="left">
            正交表因子列为正交表中要取的列，列与列之间用逗号分隔，为一个字符串；
            此处1,4,7表示保留正交表的第1,4,7列；
        </td>
    </tr>
        <tr>
        <td width="200" align="middle">分割符</td>
        <td width="500" align="middle">|</td>
        <td width="500" align="left">
            分割符，数据处理的分割符，不能与正交因子水平值中的字符一样
        </td>
    </tr>
</table>
    <p align="center">
    <a href="http://support.sas.com/techsup/technote/ts723_Designs.txt" target="正则表达式网站">正则表获取地址</a><br>
    </p>
</body>
</html>