<div class="module-page">
  <div class="module-body add-protocol-version">
    <form role="form" class="form-base">
      <div class="form-group">
        <div class="input-item">
          <label class="control-label label-normal"><em>*</em>文件类型：</label>
          <div class=" input-normal">
            <select class="form-control" ng-model="vm.fileType" ng-options="x.value as x.label for x in vm.dictsFileType">
              <!-- <option value="">--请选择--</option> -->
            </select>
          </div>
        </div>
        <div class="input-item">
          <label class="control-label label-normal"><em>*</em>文件状态：</label>
          <div class=" input-normal">
            <select class="form-control" ng-model="vm.fileState" ng-options="x.value as x.label for x in vm.dictsFileState">
              <!-- <option value="">--请选择--</option> -->
            </select>
          </div>
        </div>
        <div class="input-item">
          <label class="control-label label-normal"><em>*</em>文件版本：</label>
          <div class=" input-normal">
            <input type="text" class="form-control" ng-model="vm.fileVersion">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-item name">
          <label class="control-label label-normal"><em>*</em>文件名称：</label>
          <div class=" input-normal">
            <input type="text" class="form-control" ng-model="vm.fileName">
          </div>
        </div>
      </div>
      <!-- 编辑器 -->
      <textarea class="myEditor"></textarea>
      <div class="bottom">
        <button type="button" class="btn-normal btn-green" ng-click="vm.backToVersionPage(1);">确定</button>
        <button type="button" class="btn-normal btn-blue" ng-click="vm.backToVersionPage(0);">取消</button>
      </div>
    </form>
  </div>
</div>
