<div class="module-page">
  <div class="module-body batch-add-new-invest">
    <form name="batchAddNewInvestForm" class="form-base">
      <div class="form-title">
        <span class="form-header header-line"></span><span class="form-header header-title">批量新增投顾</span>
      </div>
      <div class="form-group">
        <div class="input-item">
          <div class=" input-normal invest-box">
            <input type="text" class="form-control invest-path" name="upfile" ng-model="vm.myFile" readonly>
          </div>
          <button type="button" class="btn-normal bg-green" onclick="file.click()">导入</button>
          <button type="button" class="btn-normal bg-green" ng-click="vm.download('xls','新增投顾模板.xls')">下载Excel模板</button>
          <input class="import-excel" type="file" id="file" onchange="angular.element(this).scope().vm.readAsText(event);"  />
        </div>
      </div>
      <table class="table cloud-ui-table" name="result" id="result">
        <thead>
        <tr>
          <th class="list-width list-ten">姓名</th>
          <th class="list-width list-type">身份证号</th>
          <th class="list-width list-ten">营业部</th>
          <th class="list-width list-ten">投顾类型</th>
          <th class="list-width list-ten">邮箱地址</th>
          <!-- <th class="list-width list-ten">用户昵称</th> -->
          <th class="list-width list-type">手机号</th>
          <th class="list-width list-ten">租户ID</th>
          <th class="list-width list-ten">机构编码</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in vm.list">
          <td class="list-width list-ten" title="{{x.applicantName}}">{{x.applicantName}}</td>
          <td class="list-width list-type" title="{{x.idCardNo || '暂无'}}">{{x.idCardNo || '暂无'}}</td>
          <td class="list-width list-ten" title="{{x.businessDept}}">{{x.businessDept}}</td>
          <td class="list-width list-ten" title="{{x.adviserType}}">{{x.adviserType}}</td>
          <td class="list-width list-ten" title="{{x.email}}">{{x.email}}</td>
          <!-- <td class="list-width list-ten" title="{{x.aliasName}}">{{x.aliasName}}</td> -->
          <td class="list-width list-type" title="{{x.mobile}}">{{x.mobile}}</td>
          <td class="list-width list-ten" title="{{x.tenantId}}">{{x.tenantId}}</td>
          <td class="list-width list-ten" title="{{x.branchNo}}">{{x.branchNo}}</td>
        </tr>
        </tbody>
      </table>
      <div class="btn-box">
        <button type="button" class="btn-normal bg-gray" ui-sref="home.investManage">返回</button>
        <button if-show-ele="92" type="button" class="btn-normal bg-green" ng-click="vm.saveInvestInfo();">批量保存</button>
      </div>
    </form>
  </div>
</div>
