<div class="module-page">
  <div class="module-body combine-shelf-check">
    <form role="form" class="form-base">
      <div class="form-title form-group">
        <button class="btn-online" if-show-ele="470" ng-click="vm.openCombineDownModal()">组合强制下架</button>
        <div class="search-item" if-show-ele="473">
          <div class="input-group input-normal">
            <input type="text" class="form-control" placeholder="请输入组合名称" ng-model="vm.keyword" />
            <span class="input-group-btn" ng-click="vm.searchFunc();">
              <i class="icon icon-seek"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group min-table table-responsive">
        <table class="table cloud-ui-table">
          <thead>
            <tr>
              <th class="list-width">组合名称</th>
              <th class="list-width">所属营业部</th>
              <th class="list-width">创建人</th>
              <th class="list-width">风险等级</th>
              <th class="list-width">审核申请状态</th>
              <th class="list-width">申请时间</th>
              <th class="list-width">审核状态</th>
              <th class="list-width">预设价格</th>
              <th class="list-width">审核意见</th>
              <th class="list-width operate">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in vm.combineList track by $index">
              <td class="list-width" title="{{x.combi_name}}">{{x.combi_name}}</td>
              <td class="list-width" title="{{x.combine[0].branch_name || '暂无'}}">{{x.combine[0].branch_name || '暂无'}}</td>
              <td class="list-width" title="{{x.combine[0].broker_name || '暂无'}}">{{x.combine[0].broker_name || '暂无'}}</td>
              <td class="list-width" title="{{x.prodrisk_level | formatRiskType}}">{{x.prodrisk_level | formatRiskType}}</td>
              <td class="list-width" title="{{x.combine[0] | combineUpDownState}}">{{x.combine[0] | combineUpDownState}}</td>
              <td class="list-width" title="{{x.applyTime | timeStampToTime}}">{{x.applyTime | timeStampToTime}}</td>
              <td class="list-width" ng-class="{colorRed: x.combine[0].audit_state == 2, colorGreen: x.combine[0].audit_state == 1}" title="{{x.combine[0].audit_state | combineCheckState}}">{{x.combine[0].audit_state | combineCheckState}}</td>
              <td class="list-width" title="{{x | filteAllCombineValue}}">{{x | filteAllCombineValue}}</td>
              <td class="list-width">
                <a href="javascript:;" ng-click="vm.openCombineRemarkModal(x.reason)">查看</a>
              </td>
              <td class="list-width operate">
                <a href="javascript:;" if-show-ele="472" ng-if="x.combine[0].audit_state == 0" ng-click="vm.openCombineCheckModal(1, x)">通过</a>
                <a href="javascript:;" if-show-ele="472" ng-if="x.combine[0].audit_state == 0" ng-click="vm.openCombineCheckModal(2, x)">不通过</a>
                <a href="javascript:;" ng-if="x.combine[0].audit_type.indexOf(4) >= 0" ng-click="vm.openCombineChangeModal(x)">查看修改</a>
              </td>
            </tr>
          </tbody>
        </table>
        <small class="null-data" ng-if="!vm.combineList.length">暂无数据</small>
      </div>
      <div class="cloud-ui-pagination">
        <ul uib-pagination
          ng-model="vm.currentPage"
          items-per-page="vm.itemPerPage"
          total-items="vm.totalItems"
          max-size="5"
          boundary-links="false"
          boundary-link-numbers="true"
          previous-text="上一页"
          ng-change="vm.pageChangeFunc();"
          next-text="下一页">
        </ul>
      </div>
    </form>
  </div>
</div>
