<div class="home">
  <!-- Section Left -->
  <div class="left-side" ng-class="{'unfold-side':vm.unfoldSide}">
    <div class="left-div">
      <div class="logo">
        <a href="javascript:;" class="logo-link" ng-bind="{true: '', false: '统一管理平台'}[vm.unfoldSide]" ng-click="vm.goHome();"></a>
      </div>
      <button type="button" class="shrink-btn" ng-click="vm.shrinkNav();"><i ng-class="{true: 'icon icon-right-on unfold', false: 'icon icon-left-on fold'}[vm.unfoldSide]"></i></button>
      <div class="side-menu">
        <menu-view menu-data="vm.menuViewData" unfold-side="vm.unfoldSide"></menu-view>
      </div>
    </div>
  </div>
  <!-- Section Right -->
  <div class="main-content" ng-class="{'unfold-content':vm.unfoldSide}">
    <div class="top-menu">
      <div class="menu-pool">
        <button
          id="topBtn_{{ $index }}"
          name="topMenu"
          type="button"
          class="btn-normal menu-btn"
          ng-class="{'selected': $index == vm.selectedBtn}"
          ng-repeat="item in vm.topMenuData"
          ng-click="vm.changeTopMenu($index);">
          <i class="{{item.icon}}"></i>
          <span>{{ item.name }}</span>
        </button>
      </div>
      <button type="button" class="btn-normal exit" ng-click="vm.exit();"><i class="icon icon-logout"></i>退出</button>
      <button type="button" class="btn-normal user" ng-click="vm.openUserInfoModal();" uib-popover-html="vm.userInfoHtml" popover-placement="bottom" popover-trigger="'mouseenter'">
        <i class="icon icon-userinfo"></i><span>{{ vm.userName }}</span>
      </button>
    </div>
    <div class="wrapper" id="wrapperHeight">
      <!-- Modules Content -->
      <section class="content-wrapper">
        <!-- Breadcrumb Nav -->
        <breadcrumb-nav></breadcrumb-nav>
        <!-- Main content -->
        <section ui-view class="content modules-content"></section>
      </section>
    </div>
  </div>
</div>
