<div class="module-page">
  <div class="module-body investor-achievement-qry">
    <form role="form" class="form-base">
      <div class="form-title form-group">
        <span class="form-header header-line"></span><span class="form-header header-title">投顾列表</span>
      </div>
      <div class="form-title form-group">
        <!-- <div class="input-item">
          <label class="control-label label-normal">服务类型：</label>
          <div class=" input-normal">
            <select class="form-control" ng-model="vm.productType" ng-options="x.value as x.label for x in vm.dictsProductType"></select>
          </div>
        </div> -->
        <div class="input-item">
          <label class="control-label label-normal">关键词：</label>
          <div class=" input-normal">
            <input type="text" class="form-control" placeholder="投顾姓名、投顾手机号" ng-model="vm.customerKey" />
          </div>
        </div>
        <button type="button" if-show-ele="100" class="btn-normal btn-blue btn-right" ng-click="vm.download();">导出</button>
        <button type="button" if-show-ele="100" class="btn-normal btn-green btn-right" ng-click="vm.keywordSearchFunc();">查询</button>
      </div>
      <div class="form-group min-table table-responsive">
        <table class="table cloud-ui-table">
          <thead>
            <tr>
              <th class="list-width">投顾姓名</th>
              <th class="list-width">投顾手机号</th>
              <th class="list-width">
                <button class="btn-sequence" ng-click="vm.sequenceFunc(0)">投顾总收入额<i class="icon icon-paixu"></i></button>
              </th>
              <th class="list-width">
                <button class="btn-sequence" ng-click="vm.sequenceFunc(1)">投顾粉丝数<i class="icon icon-paixu"></i></button>
              </th>
              <th class="list-width">
                <button class="btn-sequence" ng-click="vm.sequenceFunc(2)">投顾组合总数<i class="icon icon-paixu"></i></button>
              </th>
              <th class="list-width">
                <button class="btn-sequence" ng-click="vm.sequenceFunc(3)">投顾观点总数<i class="icon icon-paixu"></i></button>
              </th>
              <!-- <th class="list-width">
                <button class="btn-sequence" ng-click="vm.sequenceFunc(4)">投顾直播总数<i class="icon icon-paixu"></i></button>
              </th> -->
              <th class="list-width">
                <button class="btn-sequence" ng-click="vm.sequenceFunc(5)">所属机构<i class="icon icon-paixu"></i></button>
              </th>
              <th class="list-width">量化模型总数</th>
              <th class="list-width">智能策略总数</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in vm.investorList">
              <td class="list-width">{{x.broker_name}}</td>
              <td class="list-width">{{x.mobile}}</td>
              <td class="list-width">{{x.total_income | formatToFixed2}}</td>
              <td class="list-width">{{x.focus_fans_nums}}</td>
              <td class="list-width">{{x.combi_nums}}</td>
              <td class="list-width">{{x.viewpoint_nums}}</td>
              <!-- <td class="list-width">{{x.live_nums}}</td> -->
              <td class="list-width">{{x.branch_name}}</td>
              <td class="list-width">{{x.formula_nums}}</td>
              <td class="list-width">{{x.strategy_nums}}</td>
            </tr>
          </tbody>
        </table>
        <small class="null-data" ng-if="!vm.investorList.length">暂无数据</small>
        <div class="cloud-ui-pagination">
          <ul
            uib-pagination
            ng-model="vm.currentPage"
            items-per-page="vm.itemPerPage"
            total-items="vm.totalItems"
            max-size="5"
            boundary-links="false"
            boundary-link-numbers="true"
            previous-text="上一页"
            ng-change="vm.pageChangeFunc();"
            next-text="下一页"
          ></ul>
        </div>
      </div>
    </form>
  </div>
</div>
