<div class="module-page">
  <div class="module-body live-bg-setting">
    <form role="form" class="form-base first-line">
      <div class="form-title">
        <span class="form-header header-line"></span>
        <span class="form-header header-title">背景图设置</span>
        <span class="input-state">格式：jpg、png、gif、bmp，大小：小于2M，尺寸：440*240</span>
        <button if-show-ele="450" type="button" class="btn-normal btn-blue" ng-click="vm.addBgFunc();">新建</button>
      </div>
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide" ng-show="vm.imgList.length" ng-repeat="x in vm.imgList track by $index" >
            <img onerror="this.src=''" ng-src={{x.url}}>
            <p class="operate">
              <img ng-src="{{vm.startImg}}" alt="启用" ng-if="x.state == 1"> 
              <i class="icon icon-bgcorrect" ng-class="{'gray': x.state == 1, 'yellow': x.state == 0}" ng-click="vm.restartImgFunc(x, 1)"></i>
              <i class="icon icon-delete" ng-class="{'gray': x.state == 1, 'red': x.state == 0}" ng-click="vm.restartImgFunc(x, 0)"></i>
            </p>
          </div>
        </div>
        <div class="swiper-button-prev">
          <i class="icon icon-pre"></i>
        </div>
        <div class="swiper-button-next">
          <i class="icon icon-next"></i>
        </div>
      </div>
    </form>
  </div>
</div>
