<div class="module-page">
  <div class="module-body liveMonitorList">
    <form role="form" class="form-base">
      <div class="form-title">
        <span class="form-header header-line"></span><span class="form-header header-title">直播监控</span>
      </div>
      <div class="form-group date-height">
        <div class="date-box">
          <label for="startTime-select" class="col-sm-1 control-label date-label-normal">开始日期：</label>
          <div class="col-sm-2 input-box date-input-normal">
            <span class="date-select" ng-click="vm.openStartTimeFunc()"><i class="iconfont icon-calendar"></i></span>
            <input class="form-control" type="text" name="startTime" id="startTime-select"
                   uib-datepicker-popup=""
                   ng-model="vm.startTime"
                   ng-required="true"
                   is-open="vm.popupStartTimeOpened"
                   datepicker-options="vm.dateOptions"
                   clear-text="清除"
                   close-text="关闭"
                   current-text="今天"
                   alt-input-formats="altInputFormats"
                   ng-click="vm.openStartTimeFunc()">
          </div>
          <label for="endTime-select" class="col-sm-1 control-label date-label-normal">结束日期：</label>
          <div class="col-sm-2 input-box date-input-normal">
            <span class="date-select" ng-click="vm.openEndTimeFunc()"><i class="iconfont icon-calendar"></i></span>
            <input class="form-control" type="text" name="endTime" id="endTime-select"
                   uib-datepicker-popup=""
                   ng-model="vm.endTime"
                   ng-required="true"
                   is-open="vm.popupEndTimeOpened"
                   datepicker-options="vm.dateOptions"
                   clear-text="清除"
                   close-text="关闭"
                   current-text="今天"
                   alt-input-formats="altInputFormats"
                   ng-click="vm.openEndTimeFunc()">
          </div>
        </div>
        <div class="input-item status">
          <label class="control-label label-normal">直播状态：</label>
          <div class="input-normal">
            <select class="form-control" ng-model="vm.roomStatus">
              <option value="">全部</option>
              <option value="1">进行中</option>
              <option value="2">已结束</option>
            </select>
          </div>
        </div>
        <div class="search-item">
          <div class="input-group input-normal">
            <input type="text" class="form-control" placeholder="输入关键字" ng-model="vm.keyword" />
            <span class="input-group-btn" ng-click="vm.keywordSearch();">
              <i class="icon icon-seek"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="demo-table">
        <div class="table-content row">
          <div class="table-list">
            <table class="content-list">
              <thead>
              <tr class="table-title">
                <th class=" list-width">直播话题</th>
                <th class=" list-width">直播开始时间</th>
                <th class=" list-width">直播结束时间</th>
                <th class=" list-width">直播人</th>
                <th class=" list-width">直播状态</th>
                <th class=" list-width">操作</th>
              </tr>
              </thead>
              <tbody class="main-list">
              <tr class="list" ng-repeat="item in vm.liveList">
                <td class=" list-width" title="{{item.topic}}">{{item.topic || '暂无'}}</td>
                <td class=" list-width" title="{{item.start_time.substring(0, 19)}}">{{item.start_time.substring(0, 19)}}</td>
                <td class=" list-width" title="{{item.end_time.substring(0, 19)}}">{{item.end_time.substring(0, 19)}}</td>
                <td class=" list-width" title="{{item.broker_name}}">{{item.broker_name || '匿名'}}</td>
                <td class=" list-width">{{item.room_status == '1' ? '进行中' : '已结束'}}</td>
                <td class="list-width" ng-click="vm.enterLiveContent(item);">
                  <span class="operate">进入直播间</span>
                </td>
              </tr>
              </tbody>
            </table>
            <p class="no-data" ng-if="!vm.liveList || vm.liveList.length == 0">暂无数据</p>
            <div class="cloud-ui-pagination">
              <ul uib-pagination
                  ng-model="vm.currentPage"
                  items-per-page="vm.itemsPerPage"
                  total-items="vm.totalItems"
                  max-size="vm.maxSize"
                  boundary-links="false"
                  boundary-link-numbers="true"
                  previous-text="上一页"
                  ng-change="vm.pageChangeFunc();"
                  next-text="下一页">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="module-footer"></div>
</div>
