<div class="module-page">
  <div class="module-body more-invest-info">
    <form class="form-base">
      <div class="form-title">
        <span class="form-header header-line"></span><span class="form-header header-title">投顾详情</span>
      </div>
      <h4>个人基本信息</h4>
      <div class="form-group row">
        <div class="text-content col-sm-4">
          <label><em>*</em>申请人姓名：</label>
          <span>{{vm.investData.applicantName || "暂无"}}</span>
        </div>
        <div class="text-content col-sm-4">
          <label>身份证号码：</label>
          <span>{{vm.investData.idCardNo || "暂无"}}</span>
        </div>
        <div class="text-content col-sm-4">
          <label>微博号：</label>
          <span>{{vm.investData.weiboNo || "暂无"}}</span>
        </div>
      </div>
      <div class="form-group row">
        <div class="text-content col-sm-4">
          <label>微信公众号：</label>
          <span>{{vm.investData.weixinNo || "暂无"}}</span>
        </div>
        <div class="text-content col-sm-4">
          <label>QQ号：</label>
          <span>{{vm.investData.qqNo || "暂无"}}</span>
        </div>
        <div class="text-content col-sm-4">
          <label>微信账户主体：</label>
          <span>{{vm.investData.weixinOwner || "暂无"}}</span>
        </div>
      </div>
      <div class="form-group row">
        <!-- <div class="text-content col-sm-4">
          <label>用户昵称：</label>
          <span>{{vm.investData.aliasName || "暂无"}}</span>
        </div> -->
        <div class="text-content col-sm-4">
          <label><em>*</em>手机号：</label>
          <span>{{vm.investData.mobile || "暂无"}}</span>
        </div>
      </div>
      <h4>资质信息</h4>
      <div class="form-group row">
        <div class="text-content col-sm-4">
          <label><em>*</em>投顾类型：</label>
          <span>{{vm.investData.adviserType | formatAdviserType}}</span>
        </div>
        <div class="text-content col-sm-4">
          <label>资格证书号：</label>
          <span>{{vm.investData.credentialsNo || "暂无"}}</span>
        </div>
        <div class="text-content col-sm-4">
          <label>资格证书类型：</label>
          <span>{{vm.investData.credentialsType | certificateType}}</span>
        </div>
      </div>
      <h4>公司信息</h4>
      <div class="form-group row">
        <div class="text-content col-sm-4">
          <label>公司名称：</label>
          <span>{{vm.investData.companyName || "暂无"}}</span>
        </div>
        <div class="text-content col-sm-4">
          <label>所在省：</label>
          <span>{{vm.investData.provinceName || "暂无"}}</span>
        </div>
        <div class="text-content col-sm-4">
          <label>租户ID：</label>
          <span>{{vm.investData.tenantId || "暂无"}}</span>
        </div>
      </div>
      <div class="form-group row">
        <div class="text-content col-sm-4">
          <label>员工编号：</label>
          <span>{{vm.investData.employeeNo || "暂无"}}</span>
        </div>
        <div class="text-content col-sm-4">
          <label>所在市：</label>
          <span>{{vm.investData.cityName || "暂无"}}</span>
        </div>
        <div class="text-content col-sm-4">
          <label>银行账号：</label>
          <span>{{vm.investData.bankAccount || "暂无"}}</span>
        </div>
      </div>
      <div class="form-group row">
        <div class="text-content col-sm-4">
          <label><em>*</em>从业年限：</label>
          <span>{{vm.investData.workYear || "暂无"}}</span>
        </div>
        <div class="text-content col-sm-4">
          <label>所属机构：</label>
          <span>{{vm.investData.organization || "暂无"}}</span>
        </div>
        <div class="text-content col-sm-4">
          <label><em>*</em>邮箱地址：</label>
          <span>{{vm.investData.email || "暂无"}}</span>
        </div>
      </div>
      <div class="form-group row">
        <div class="text-content col-sm-4">
          <label><em>*</em>营业部：</label>
          <span>{{vm.investData.businessDept || '暂无'}}</span>
        </div>
        <div class="text-content col-sm-4">
          <label>开户人：</label>
          <span>{{vm.investData.accountHolder || "暂无"}}</span>
        </div>
        <div class="text-content col-sm-4">
          <label>开户行：</label>
          <span>{{vm.investData.openingBank || "暂无"}}</span>
        </div>
      </div>
      <div class="form-group row">
        <div class="text-content col-sm-4">
          <label>推荐码：</label>
          <span>{{vm.investData.referralCode || "暂无"}}</span>
        </div>
      </div>
      <h4>其他信息</h4>
      <div class="form-group row">
        <div class="text-content col-sm-12">
          <label>投资风格：</label>
          <span>{{vm.investData.investmentStyle || "暂无"}}</span>
        </div>
      </div>
      <div class="form-group row">
        <div class="text-content col-sm-12">
          <label>投资策略：</label>
          <span>{{vm.investData.investmentStrategy || "暂无"}}</span>
        </div>
      </div>
      <div class="form-group row">
        <div class="text-content col-sm-12">
          <label>投资策略简述：</label>
          <span>{{vm.investData.investmentStrategySummary || "暂无"}}</span>
        </div>
      </div>
      <div class="form-group row">
        <div class="text-content col-sm-12">
          <label>背景介绍：</label>
          <span>{{vm.investData.backgroundIntro || "暂无"}}</span>
        </div>
      </div>
      <div class="btn-box">
        <button type="button" class="btn-normal bg-gray" ng-click="vm.goBack();">返回</button>
        <button if-show-ele="94" type="button" class="btn-normal bg-green" ng-click="vm.editInvestInfo();">编辑</button>
      </div>
    </form>
  </div>
</div>
