<div class="module-page">
  <div class="module-body order-info-qry">
    <form role="form" class="form-base">
      <div class="form-group">
        <div class="input-item">
          <label class="control-label label-normal label-fix">订单状态：</label>
          <div class="input-normal">
            <select class="form-control" ng-model="vm.orderStatus" ng-options="x.value as x.label for x in vm.orderStatusList"></select>
          </div>
        </div>
        <div class="input-item">
          <label for="input1" class="control-label label-normal">关键词：</label>
          <div class=" input-normal">
            <input type="text" id="input1" class="form-control" placeholder="输入客户名称、投顾名称" ng-model="vm.keyword" />
          </div>
        </div>
        <div class="input-item">
          <label class="control-label label-normal">三方订单号：</label>
          <div class=" input-normal">
            <input type="text" class="form-control" ng-model="vm.orderId" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-item">
          <label class="control-label label-normal label-fix">支付方式：</label>
          <div class="input-normal">
            <select class="form-control" ng-model="vm.payType" ng-options="x.value as x.label for x in vm.payTypeList"></select>
          </div>
        </div>
        <div class="input-item">
          <label for="input2" class="control-label label-normal">推荐人：</label>
          <div class=" input-normal">
            <input type="text" id="input2" class="form-control" placeholder="输入推荐人" ng-model="vm.recommender" />
          </div>
        </div>
        <div class="input-item">
          <label class="control-label label-normal">产品类型：</label>
          <div class=" input-normal">
            <select class="form-control" ng-model="vm.productType" ng-options="x.value as x.label for x in vm.dictsProductType"></select>
          </div>
        </div>
      </div>
      <div class="form-group date-height">
        <div class="date-box">
          <label for="startTime-select" class="control-label date-label-normal">订单日期：</label>
          <div class="input-box date-input-normal">
            <span class="date-select" ng-click="vm.openStartTimeFunc()"><i class="iconfont icon-calendar"></i></span>
            <input
              class="form-control"
              type="text"
              name="startTime"
              id="startTime-select"
              uib-datepicker-popup=""
              ng-model="vm.startTime"
              ng-required="true"
              is-open="vm.popupStartTimeOpened"
              datepicker-options="vm.dateOptions"
              clear-text="清除"
              close-text="关闭"
              current-text="今天"
              alt-input-formats="altInputFormats"
              ng-click="vm.openStartTimeFunc()"
            />
          </div>
          <label for="endTime-select" class="control-label">-</label>
          <div class="input-box date-input-normal">
            <span class="date-select" ng-click="vm.openEndTimeFunc()"><i class="iconfont icon-calendar"></i></span>
            <input
              class="form-control"
              type="text"
              name="endTime"
              id="endTime-select"
              uib-datepicker-popup=""
              ng-model="vm.endTime"
              ng-required="true"
              is-open="vm.popupEndTimeOpened"
              datepicker-options="vm.dateOptions"
              clear-text="清除"
              close-text="关闭"
              current-text="今天"
              alt-input-formats="altInputFormats"
              ng-click="vm.openEndTimeFunc()"
            />
          </div>
        </div>
        <div class="input-item">
          <label class="control-label label-normal">产品名称：</label>
          <div class=" input-normal">
            <input type="text" class="form-control" ng-model="vm.productName">
          </div>
        </div>
      </div>
      <div class="form-group operate">
        <button if-show-ele="160" type="button" class="btn-normal btn-green" ng-click="vm.searchByKeyword()">查询</button>
        <button type="button" class="btn-normal btn-blue btn-right" ng-click="vm.download()">导出</button>
      </div>
    </form>
    <form role="form" class="form-base first-line">
      <div class="form-title" ng-click="vm.linkToProtocolPage(1)">
        <span class="form-header header-line"></span><span class="form-header header-title">订单信息列表</span>
      </div>
      <div class="form-group min-table table-responsive">
        <table class="table cloud-ui-table">
          <thead>
            <tr>
              <th class="list-width">客户名称</th>
              <th class="list-width">客户手机号</th>
              <th class="list-width">服务类型</th>
              <th class="list-width">服务详情</th>
              <th class="list-width">订单状态</th>
              <th class="list-width">成交金额</th>
              <th class="list-width">订单时间</th>
              <th class="list-width">支付时间</th>
              <th class="list-width">数量</th>
              <th class="list-width">投顾人员</th>
              <th class="list-width">推荐人</th>
              <th class="list-width">支付类型</th>
              <th class="list-width">资金账号</th>
              <th class="list-width">三方订单号</th>
              <th class="list-width">关联协议查看</th>
              <th class="list-width">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in vm.orderList">
              <td class="list-width">{{ x.customer_name }}</td>
              <td class="list-width">{{ x.customer_mobile }}</td>
              <td class="list-width">{{ x.order_type | formatOrderType }}</td>
              <td class="list-width">{{ x.order_content }}</td>
              <td class="list-width">{{ x.order_status | formatOrderStatus }}</td>
              <td class="list-width">{{ x.order_price | formatToFixed2 }}</td>
              <td class="list-width" title="{{ x.order_time }}">{{ x.order_time }}</td>
              <td class="list-width" title="{{ x.time_end }}">{{ x.time_end }}</td>
              <td class="list-width">{{ x.order_type | formatOrderNumber }}</td>
              <td class="list-width">{{ x.broker_name }}</td>
              <td class="list-width">{{ x.recommend_name }}</td>
              <td class="list-width">{{ x.pay_type | formatPayType }}</td>
              <td class="list-width">{{x.busin_account}}</td>
              <td class="list-width">{{x.transaction_id}}</td>
              <td class="list-width">
                <a href="javascript:;" ng-click="vm.linkToProtocolPage(x);">查看协议</a>
              </td>
              <td>
                <a if-show-ele="161" href="javascript:;" ng-click="vm.editOrderInfo(x);">
                  <i class="icon icon-primary icon-check-remark bg-yellow" title="修改"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <small class="null-data" ng-if="!vm.orderList.length">暂无数据</small>
      </div>
        <div class="cloud-ui-pagination">
          <ul
            uib-pagination
            ng-model="vm.currentPage"
            items-per-page="vm.itemPerPage"
            total-items="vm.totalItems"
            max-size="5"
            boundary-links="false"
            boundary-link-numbers="true"
            previous-text="上一页"
            ng-change="vm.pageChangeFunc();"
            next-text="下一页"
          ></ul>
        </div>
    </form>
  </div>
</div>
