<div class="module-page">
  <div class="module-body productPoolManage">
    <form role="form" class="form-base">
      <div class="form-title form-group">
        <span class="form-header header-line"></span><span class="form-header header-title">金融产品池管理</span>
        <span class="tips"
          >金融产品池当前共有<em>{{ vm.totalItems }}</em
          >只金融产品</span
        >
        <div class="add-more">
          <button type="button" class="btn-normal btn-blue" ng-click="vm.openModal()">添加产品</button>
        </div>
        <div if-show-ele="260" class="search-item">
          <div class="input-group input-normal">
            <input type="text" class="form-control" placeholder="请输入" ng-model="vm.keyword" />
            <span class="input-group-btn" ng-click="vm.getProductListFunc();">
              <i class="icon icon-seek"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group min-table table-responsive">
        <table class="table cloud-ui-table">
          <thead>
            <tr>
              <th class="list-width list-index">序号</th>
              <th class="list-width list-twenty">产品名称</th>
              <th class="list-width list-ten">产品代码</th>
              <th class="list-width list-type">七日年化</th>
              <th class="list-width list-type">万份收益</th>
              <th class="list-width list-type">起购金额</th>
              <th class="list-width list-ten">产品状态</th>
              <th class="list-width list-ten">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in vm.productList">
              <td class="list-width list-index">{{ $index + 1 }}</td>
              <td class="list-width list-twenty">{{ x.prod_name }}</td>
              <td class="list-width list-ten">{{ x.prod_code }}</td>
              <td class="list-width list-type" ng-class="{'red': (x.prod_nhsy * 1) > 0, 'green': (x.prod_nhsy * 1) <= 0}">{{ x.prod_nhsy | formatToFixed2 }}%</td>
              <td class="list-width list-type">{{ x.prod_wfsy | formatToFixed2 }}</td>
              <td class="list-width list-type">{{ x.prod_qgje | formatToFixed2 }}元</td>
              <td class="list-width list-ten">{{ x.prod_status_name }}</td>
              <td class="list-width list-ten">
                <a type="button" button-rights="23" title="删除" ng-click="vm.deleteFunc(x);">
                  <span class="icon icon-primary icon-delete bg-red"></span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <small class="null-data" ng-if="!vm.productList.length">暂无数据</small>
        <div class="cloud-ui-pagination">
          <ul
            uib-pagination
            ng-model="vm.currentPage"
            items-per-page="vm.itemPerPage"
            total-items="vm.totalItems"
            max-size="5"
            boundary-links="false"
            boundary-link-numbers="true"
            previous-text="上一页"
            ng-change="vm.pageChangeFunc();"
            next-text="下一页"
          ></ul>
        </div>
      </div>
    </form>
  </div>
</div>
