<div class="module-page">
  <div class="module-body product-authority-manage">
    <form role="form" class="form-base">
      <div class="form-title form-group">
        <span class="session-title" ng-class="{'active': vm.selectTab === 3}" ng-click="vm.selectTabFunc(3)">客户存续期产品</span>
        <span class="session-title" ng-class="{'active': vm.selectTab == 4}" ng-click="vm.selectTabFunc(4)">客户关注的产品</span>
      </div>
      <div class="form-group">
        <div class="input-item">
          <label class="control-label label-normal">用户名称：</label>
          <div class=" input-normal">
            <input type="text" class="form-control" ng-model="vm.customName">
          </div>
        </div>
        <div class="input-item">
          <label class="control-label label-normal">手机号：</label>
          <div class=" input-normal">
            <input type="text" class="form-control" ng-model="vm.customMobile">
          </div>
        </div>
        <div class="input-item">
          <label class="control-label label-normal">权限状态：</label>
          <div class=" input-normal">
            <select class="form-control" ng-model="vm.authorityStatus" ng-options="x.value as x.label for x in vm.dictsAuthorityStatus">
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-item">
          <label class="control-label label-normal">产品编号：</label>
          <div class=" input-normal">
            <input type="text" class="form-control" ng-model="vm.productId">
          </div>
        </div>
        <div class="input-item">
          <label class="control-label label-normal">产品名称：</label>
          <div class=" input-normal">
            <input type="text" class="form-control" ng-model="vm.productName">
          </div>
        </div>
        <div class="input-item">
          <label class="control-label label-normal">产品类型：</label>
          <div class=" input-normal">
            <select class="form-control" ng-model="vm.productType" ng-options="x.value as x.label for x in vm.dictsProductType">
            </select>
          </div>
        </div>
      </div>
      <div class="form-group date-height">
        <div class="date-box">
          <label for="startTime-select" class="col-sm-1 control-label date-label-normal">开始日期：</label>
          <div class="col-sm-2 input-box date-input-normal">
            <span class="date-select" ng-click="vm.openStartTimeFunc()"><i class="iconfont icon-calendar"></i></span>
            <input class="form-control" type="text" name="startTime" id="startTime-select"
                   uib-datepicker-popup=""
                   ng-model="vm.startTime"
                   is-open="vm.popupStartTimeOpened"
                   datepicker-options="vm.dateOptions"
                   clear-text="清除"
                   close-text="关闭"
                   current-text="今天"
                   alt-input-formats="altInputFormats"
                   ng-click="vm.openStartTimeFunc()">
          </div>
          <label for="endTime-select" class="col-sm-1 control-label date-label-normal">结束日期：</label>
          <div class="col-sm-2 input-box date-input-normal">
            <span class="date-select" ng-click="vm.openEndTimeFunc()"><i class="iconfont icon-calendar"></i></span>
            <input class="form-control" type="text" name="endTime" id="endTime-select"
                   uib-datepicker-popup=""
                   ng-model="vm.endTime"
                   is-open="vm.popupEndTimeOpened"
                   datepicker-options="vm.dateOptions"
                   clear-text="清除"
                   close-text="关闭"
                   current-text="今天"
                   alt-input-formats="altInputFormats"
                   ng-click="vm.openEndTimeFunc()">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-title form-group">
          <span class="form-header header-line"></span><span class="form-header header-title" >产品权限列表</span>
          <button type="button" class="btn-normal btn-green" if-show-ele="530" ng-click="vm.searchFunc()">查询</button>
        </div>
      </div>
      <div class="form-group min-table table-responsive">
        <table class="table cloud-ui-table">
          <thead>
            <tr>
              <th class="list-width">
                <button class="btn-sequence" ng-click="vm.sequenceFunc(0)">用户名称<i class="icon icon-paixu"></i></button>
              </th>
              <th class="list-width">
                <button class="btn-sequence" ng-click="vm.sequenceFunc(1)">手机号<i class="icon icon-paixu"></i></button>
              </th>
              <th class="list-width">
                <button class="btn-sequence" ng-click="vm.sequenceFunc(2)">产品<i class="icon icon-paixu"></i></button>
              </th>
              <th class="list-width">所属投顾</th>
              <th class="list-width" ng-click="vm.sequenceFunc(6)">产品类型<i class="icon icon-paixu"></i></th>
              <th class="list-width" ng-if="vm.selectTab === 3" ng-click="vm.sequenceFunc(7)">产品开始日期<i class="icon icon-paixu"></i></th>
              <th class="list-width" ng-if="vm.selectTab === 3" ng-click="vm.sequenceFunc(8)">产品结束日期<i class="icon icon-paixu"></i></th>
              <th class="list-width" ng-if="vm.selectTab === 3">
                <button class="btn-sequence" ng-click="vm.sequenceFunc(3)">权限状态<i class="icon icon-paixu"></i></button>
              </th>
              <th class="list-width" ng-if="vm.selectTab === 4">产品关注日期</th>
              <th class="list-width" ng-if="vm.selectTab === 4">产品取消关注日期</th>
              <th class="list-width" ng-if="vm.selectTab === 4">
                <button class="btn-sequence" ng-click="vm.sequenceFunc(4)">关注状态<i class="icon icon-paixu"></i></button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in vm.dataList track by $index">
              <td class="list-width" title="{{x.customer_name}}">{{x.customer_name}}</td>
              <td class="list-width" title="{{x.mobile}}">{{x.mobile}}</td>
              <td class="list-width more">
                <p ng-if="x.order_type != 0" title="{{x.relation_name}}">{{x.relation_name}}</p>
                <p ng-if="x.order_type != 0" title="{{x.relation_id || '--'}}">{{vm.selectTab === 3 ? '产品编号' : '投顾id'}}：{{x.relation_id || '--'}}</p>
                <p ng-if="x.order_type == 0">--</p>
              </td>
              <td class="list-width more">
                <p title="{{x.broker_name}}">{{x.broker_name}}</p>
                <p title="{{x.broker_mobile}}">{{x.broker_mobile}}</p>
              </td>
              <td class="list-width" title="{{x.order_type | formatProductType}}">{{x.order_type | formatProductType}}</td>
              <td class="list-width" ng-if="vm.selectTab === 3" title="{{x.order_time}}">{{x.order_time}}</td>
              <td class="list-width" ng-if="vm.selectTab === 3" title="{{x.end_time}}">{{x.end_time}}</td>
              <td class="list-width" ng-if="vm.selectTab === 3" title="{{x.auth_flag == 1 ? '正常' : '过期'}}">{{x.auth_flag == 1 ? '正常' : '过期'}}</td>
              <td class="list-width" ng-if="vm.selectTab === 4" title="{{x.order_time}}">{{x.order_time}}</td>
              <td class="list-width" ng-if="vm.selectTab === 4" title="{{x.end_time}}">{{x.end_time}}</td>
              <td class="list-width" ng-if="vm.selectTab === 4" title="{{x.auth_flag == 1 ? '正常' : '取消'}}">{{x.auth_flag == 1 ? '正常' : '取消'}}</td>
            </tr>
          </tbody>
        </table>
        <small class="null-data" ng-if="!vm.dataList.length">暂无数据</small>
        <div class="cloud-ui-pagination">
          <ul
            uib-pagination
            ng-model="vm.currentPage"
            items-per-page="vm.itemPerPage"
            total-items="vm.totalItems"
            max-size="5"
            boundary-links="false"
            boundary-link-numbers="true"
            previous-text="上一页"
            ng-change="vm.pageChangeFunc();"
            next-text="下一页"
          ></ul>
        </div>
      </div>
    </form>
  </div>
</div>
