<div class="module-page">
  <div class="module-body new-menu-demo">
    <form role="form" class="form-base">
      <div class="form-title form-group">
        <span class="form-header header-line"></span><span class="form-header header-title">协议列表</span>
        <button type="button" class="btn-normal btn-blue add" if-show-ele="561" ng-click="vm.linkToAddProtocolPage('', 1)">新增</button>
        <span class="intro" ng-click="vm.openIntorduceModalFunc()"><em>?</em>操作说明</span>
      </div>
      <div class="form-group min-table table-responsive">
        <table class="table cloud-ui-table">
          <thead>
            <tr>
              <th class="list-width">文件名称</th>
              <th class="list-width">文件类型</th>
              <th class="list-width">文件版本</th>
              <th class="list-width">文件状态</th>
              <th class="list-width">操作者</th>
              <th class="list-width">操作时间</th>
              <th class="list-width">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in vm.list track by $index">
              <td class="list-width" title="{{x.agreement_name}}">{{x.agreement_name}}</td>
              <td class="list-width" title="{{x.agreement_type | protocolTypeFilter}}">{{x.agreement_type | protocolTypeFilter}}</td>
              <td class="list-width" title="{{x.agreement_version}}">{{x.agreement_version}}</td>
              <td class="list-width" title="{{x.agreement_status | protocolStatusFilter}}">{{x.agreement_status | protocolStatusFilter}}</td>
              <td class="list-width" title="{{x.operator_name}}">{{x.operator_name}}</td>
              <td class="list-width" title="{{x.operate_time}}">{{x.operate_time}}</td>
              <td class="list-width">
                <a href="javascript:;" title="编辑" if-show-ele="561" ng-click="vm.linkToAddProtocolPage(x, 0)">编辑</a>
                <a href="javascript:;" title="{{x.agreement_status | protocolStatusBackFilter}}" if-show-ele="562" ng-click="vm.openStopModalFunc(x)">{{x.agreement_status | protocolStatusBackFilter}}</a>
                <a href="javascript:;" title="查看" ng-click="vm.openViewModalFunc(x.agreement_content)">查看</a>
              </td>
            </tr>
          </tbody>
        </table>
        <small class="null-data" ng-if="!vm.list.length">暂无数据</small>
        <div class="cloud-ui-pagination">
          <ul
            uib-pagination
            ng-model="vm.currentPage"
            items-per-page="vm.itemPerPage"
            total-items="vm.totalItems"
            max-size="5"
            boundary-links="false"
            boundary-link-numbers="true"
            previous-text="上一页"
            ng-change="vm.pageChangeFunc();"
            next-text="下一页"
          ></ul>
        </div>
      </div>
    </form>
  </div>
</div>
