<div class="module-page">
  <div class="module-body recommendInvest">
    <!-- <form role="form" class="form-base">
      <div class="form-title">
        <span class="form-header header-line"></span><span class="form-header header-title">店铺风采默认推广店铺</span>
      </div>
      <div class="form-group">
        <div class="input-item">
          <div class=" input-normal">
            <input type="text" class="form-control" ng-model="vm.selectedStore" ng-disabled="true">
          </div>
        </div>
        <button type="button" class="btn-normal btn-blue pull-right" ng-click="vm.openStoreSelectedModal();">选择</button>
      </div>
    </form> -->
    <form role="form" class="form-base">
      <div class="form-title">
        <span class="form-header header-line"></span><span class="form-header header-title">推荐投顾规则设置</span>
        <button if-show-ele="222" type="button" class="btn-normal btn-green pull-right" ng-click="vm.releaseRule();">发布</button>
      </div>
      <div class="form-group">
        <!-- <div class="form-radio">
          <input class="radio-input-normal" type="radio" name="options" id="radio0" value="1" ng-click="vm.changeShowRule(vm.radioVale);" ng-model="vm.radioVale"/>
          <label class="radio-label-normal" for="radio0"></label>
        </div>
        <label class="radio-title" for="radio0">按月咨询量由高到低</label>
        <div class="form-radio">
          <input class="radio-input-normal" type="radio" name="options" id="radio1" value="2" ng-click="vm.changeShowRule(vm.radioVale);" ng-model="vm.radioVale"/>
          <label class="radio-label-normal" for="radio1"></label>
        </div>
        <label class="radio-title" for="radio1">按人气/关注数由高到低</label> -->
        <div class="form-radio">
          <input class="radio-input-normal" type="radio" name="options" id="radio2" value="3" ng-click="vm.changeShowRule(vm.radioVale);" ng-model="vm.radioVale"/>
          <label class="radio-label-normal" for="radio2"></label>
        </div>
        <label class="radio-title" for="radio2">自定义</label>
      </div>
    </form>
    <form role="form" class="form-base table-responsive" ng-show="vm.showRule">
      <div class="form-title">
        <span class="form-header header-line"></span><span class="form-header header-title">当前系统需要设置<em>5</em>位推荐投顾</span>
      </div>
      <div class="form-group">
        <div class="input-item">
          <label class="control-label label-normal">已选中投顾：</label>
          <div class=" input-normal">
            <input type="text" class="form-control" ng-model="vm.selectedAdviser[0]">
            <span ng-click="vm.deleteAdviser('adviser0');"><i class="icon icon-error"></i></span>
          </div>
        </div>
        <div class="input-item">
          <div class=" input-normal">
            <input type="text" class="form-control" ng-model="vm.selectedAdviser[1]">
            <span ng-click="vm.deleteAdviser('adviser1');"><i class="icon icon-error"></i></span>
          </div>
        </div>
        <div class="input-item">
          <div class=" input-normal">
            <input type="text" class="form-control" ng-model="vm.selectedAdviser[2]">
            <span ng-click="vm.deleteAdviser('adviser2');"><i class="icon icon-error"></i></span>
          </div>
        </div>
        <div class="input-item">
          <div class=" input-normal">
            <input type="text" class="form-control" ng-model="vm.selectedAdviser[3]">
            <span ng-click="vm.deleteAdviser('adviser3');"><i class="icon icon-error"></i></span>
          </div>
        </div>
        <div class="input-item">
          <div class=" input-normal">
            <input type="text" class="form-control" ng-model="vm.selectedAdviser[4]">
            <span ng-click="vm.deleteAdviser('adviser4');"><i class="icon icon-error"></i></span>
          </div>
        </div>
      </div>
      <div class="form-group min-width">
        <div class="input-item">
          <label for="input0" class="control-label label-normal">投顾手机号：</label>
          <div class=" input-normal">
            <input type="text" id="input0" class="form-control" placeholder="请输入投顾手机号" ng-model="vm.mobile">
          </div>
        </div>
        <div class="input-item">
          <label for="input1" class="control-label label-normal label-special">投顾姓名：</label>
          <div class=" input-normal">
            <input type="text" id="input1" class="form-control" placeholder="请输入投顾姓名" ng-model="vm.brokerManagerName">
          </div>
        </div>
        <button if-show-ele="220" type="button" class="btn-normal btn-blue pull-right" ng-click="vm.adviserInfoQry(0);">查询</button>
      </div>
      <table class="table cloud-ui-table">
        <thead>
        <tr>
          <th class="list-width">投顾手机号</th>
          <th class="list-width">投顾姓名</th>
          <!-- <th class="list-width">总收益率</th>
          <th class="list-width">日收益率</th>
          <th class="list-width">周收益率</th>
          <th class="list-width">年收益率</th>
          <th class="list-width">胜率</th> -->
          <th class="list-width">关注数</th>
          <th class="list-width">操作</th>
          <!-- <th class="list-width">跟投数</th> -->
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vm.pageAdviserList">
          <td class="list-width">{{item.mobile}}</td>
          <td class="list-width" title="{{item.broker_name || '匿名'}}">{{item.broker_name || '匿名'}}</td>
          <!-- <td class="list-width" title="xxx">xxx</td>
          <td class="list-width">xxx</td>
          <td class="list-width">xxx</td>
          <td class="list-width">xxx</td>
          <td class="list-width">xxx</td> -->
          <td class="list-width">{{item.follow_num}}</td>
          <td class="list-width">
            <a href="javascript:;" ng-click="vm.upHotInvestor(item);">
              <i class="icon icon-primary icon-stick bg-blue" title="推荐"></i>
            </a>
          </td>
          <!-- <td class="list-width">xxx</td> -->
        </tr>
        </tbody>
      </table>
      <small class="null-data" ng-if="!vm.pageAdviserList.length>0">暂无数据</small>
      <div class="cloud-ui-pagination pull-right">
        <ul uib-pagination
            ng-model="vm.currentPage"
            items-per-page="vm.itemsPerPage"
            total-items="vm.totalItems"
            max-size="vm.maxSize"
            boundary-links="false"
            boundary-link-numbers="true"
            previous-text="上一页"
            ng-change="vm.pageChangeFunc();"
            next-text="下一页">
        </ul>
      </div>
    </form>
  </div>
  <div class="module-footer"></div>
</div>
