<div class="module-page">
  <div class="module-body resetPassword">
    <form role="form" class="form-base">
      <div class="form-group oper-top">
        <div class="input-item">
          <label for="input0" class="control-label label-normal">操作员编号：</label>
          <div class=" input-normal">
            <input type="text" id="input0" class="form-control" placeholder="请输入" ng-model="vm.resetOperatorNo">
          </div>
        </div>
        <div class="input-item">
          <label for="input1" class="control-label label-normal">操作员姓名：</label>
          <div class=" input-normal">
            <input type="text" id="input1" class="form-control" placeholder="请输入" ng-model="vm.resetOperatorName">
          </div>
        </div>
        <div class="search">
          <button if-show-ele="50" type="button" class="btn-normal btn-green" ng-click="vm.operatorQry();" ng-disabled="vm.isMod">查询</button>
        </div>
      </div>
    </form>
    <form role="form" class="form-base">
      <div class="form-title">
        <span class="form-header header-line"></span><span class="form-header header-title">操作员信息</span>
      </div>
      <div class="form-group first-line">
        <div class="input-item">
          <label class="control-label label-normal">姓名：</label>
          <div class="input-normal">
            <span>{{vm.operatorName || "暂无"}}</span>
          </div>
        </div>
        <div class="input-item">
          <label class="control-label label-normal">状态：</label>
          <div class="input-normal">
            <span>{{vm.operatorStatus || "暂无"}}</span>
          </div>
        </div>
        <div class="input-item">
          <label class="control-label label-normal">手机号码：</label>
          <div class="input-normal">
            <span>{{vm.operatorPhone || "暂无"}}</span>
          </div>
        </div>
        <div class="input-item">
          <label class="control-label label-normal">机构编码：</label>
          <div class="input-normal">
            <span>{{vm.branch || "暂无"}}</span>
          </div>
        </div>
      </div>
    </form>
    <form role="form" class="form-base" name="resetPassword">
      <div class="form-title">
        <span class="form-header header-line"></span><span class="form-header header-title">密码重置</span>
      </div>
      <div class="form-group reset-bottom">
        <div class="input-item new-password">
          <div>
            <label for="input6" class="control-label label-normal"><em>*</em>新密码：</label>
            <div class=" input-normal">
              <input type="password" id="input6" class="form-control" placeholder="请输入新密码" name="newPassword" ng-model="vm.newPassword" maxlength="20" required>
            </div>
          </div>
          <div class="error-tips">
            <p class="error"
               ng-if="resetPassword.newPassword.$error.required && resetPassword.newPassword.$touched">
              密码为必填项.</p>
          </div>
        </div>
        <div class="input-item">
          <div>
            <label for="input7" class="control-label label-normal"><em>*</em>新密码确认：</label>
            <div class=" input-normal">
              <input type="password" id="input7" class="form-control" placeholder="请确认新密码" name="confirmPassword" ng-model="vm.confirmPassword" maxlength="20" required>
            </div>
          </div>
          <div class="error-tips">
            <p class="error"
               ng-if="resetPassword.confirmPassword.$touched && (vm.newPassword != vm.confirmPassword)">
              两次密码输入不一致.</p>
          </div>
        </div>
        <div class="search">
          <button type="button" class="btn-normal btn-green" ng-click="vm.savePassword();">保存</button>
        </div>
      </div>
    </form>
  </div>
  <div class="module-footer"></div>
</div>
