<div class="module-page">
  <div class="module-body sensitiveWords">
    <form role="form" class="form-base">
      <div class="form-group">
        <!-- <div class="input-item">
          <div class=" input-normal" uib-dropdown keyboard-nav>
            <button id="simple-btn-keyboard-nav" type="button" class="form-control" uib-dropdown-toggle>
              <span class="select-btn">{{vm.selectedBranch}}</span><span class="caret"></span>
            </button>
            <ul class="dropdown-menu select-dropdown" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
              <li role="menuitem" ng-repeat="item in vm.branchDate" ng-click="vm.selectedBranchFunc(item);"><a class="select-list" title="{{ item.branchName}}">{{item.branchNo }} {{ item.branchName}}</a></li>
            </ul>
          </div>
        </div> -->
        <button type="button" class="btn-normal btn-blue pull-right" ng-click="vm.download('xls','新增投顾模板.xls')">下载Excel模板</button>
        <button if-show-ele="240" type="button" class="btn-normal btn-blue pull-right" onclick="sensitiveFile.click()">导入</button>
        <input class="import-excel" type="file" id="sensitiveFile" onchange="angular.element(this).scope().vm.readAsText(event);"  />
        <button if-show-ele="241" type="button" class="btn-normal btn-red pull-right" ng-click="vm.deteleItem();">删除</button>
        <button if-show-ele="243" type="button" class="btn-normal btn-blue pull-right" ng-click="vm.addItem();">新增</button>
        <div if-show-ele="242" class="search-item pull-right">
          <div class="input-group input-normal">
            <input type="text" class="form-control" ng-model="vm.keyword">
            <span class="input-group-btn" ng-click="vm.searchSensitiveWord();">
              <i class="icon icon-seek"></i>
            </span>
          </div>
        </div>
      </div>
      <table class="table cloud-ui-table">
        <thead>
        <tr>
          <th class="little">
            <div class="form-checkbox">
              <input type="checkbox" id="checkbox_all" ng-model="vm.checkAll" ng-click="vm.selectAll();"/>
              <label for="checkbox_all"></label>
            </div>
          </th>
          <th class="left">敏感词</th>
          <th>备注</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vm.sensitiveData">
          <td>
            <div class="form-checkbox">
              <input type="checkbox" id="checkbox_{{$index}}" name="check_item" ng-checked="vm.checkAll" ng-click="vm.selectWord(item);"/>
              <label for="checkbox_{{$index}}"></label>
            </div>
          </td>
          <td class="left" title="{{item.sensitive_word || '暂无'}}">{{item.sensitive_word || '暂无'}}</td>
          <td><span class="remark" title="{{item.remark || '暂无'}}">{{item.remark || '暂无'}}</span></td>
          <td>
            <a href="javascript:;">
              <i class="icon icon-primary icon-edit bg-yellow" title="编辑" ng-click="vm.addItem(item);"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
      <p class="no-data" ng-if="!vm.sensitiveData || vm.sensitiveData.length == 0">暂无数据</p>
      <div class="cloud-ui-pagination">
        <ul uib-pagination
            ng-model="vm.currentPage"
            items-per-page="vm.itemsPerPage"
            total-items="vm.totalItems"
            max-size="vm.maxSize"
            boundary-links="false"
            boundary-link-numbers="true"
            previous-text="上一页"
            ng-change="vm.pageChangeFunc();"
            next-text="下一页">
        </ul>
      </div>
    </form>
  </div>
</div>
