<div class="module-page">
  <div class="module-body stockPoolManage">
    <form role="form" class="form-base">
      <div class="form-title form-group">
        <span class="form-header header-line"></span><span class="form-header header-title">股票池管理</span>
        <span class="tips">股票池当前共有<em>{{ vm.totalItems }}</em>只股票</span>
        <div class="add-more">
          <button if-show-ele="253" type="button" class="btn-normal btn-blue" ng-click="vm.openModal()">添加股票</button>
        </div>
        <div if-show-ele="250" class="search-item">
          <div class="input-group input-normal">
            <input type="text" class="form-control" placeholder="请输入" ng-model="vm.keyword" />
            <span class="input-group-btn" ng-click="vm.stockPoolQryFunc();">
              <i class="icon icon-seek"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group min-table table-responsive">
        <table class="table cloud-ui-table">
          <thead>
            <tr>
              <th class="list-width list-ten">序号</th>
              <th class="list-width list-type">股票名称</th>
              <th class="list-width list-ten">股票名称</th>
              <th class="list-width list-ten">当前价</th>
              <th class="list-width list-type">涨跌额</th>
              <th class="list-width list-type">涨跌幅</th>
              <th class="list-width list-type">成交量</th>
              <th class="list-width list-ten">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in vm.stockPoolList">
              <td class="list-width list-ten">{{ $index + 1 }}</td>
              <td class="list-width list-type">{{ x.stock_name }}</td>
              <td class="list-width list-ten">{{ x.stock_code }}</td>
              <td class="list-width list-ten">{{ x.current_price }}</td>
              <td class="list-width list-type" ng-class="{'red': (x.change_price * 1) > 0, 'green': (x.change_price * 1) <= 0}">{{ x.change_price }}</td>
              <td class="list-width list-type" ng-class="{'red': (x.change_ration * 1) > 0, 'green': (x.change_ration * 1) <= 0}">{{ x.change_ration }}</td>
              <td class="list-width list-type">{{ x.total_amount | formatTenThousands }}万手</td>
              <td class="list-width list-ten delete">
                <a if-show-ele="254" type="button" button-rights="23" title="删除" ng-click="vm.deleteStockFunc(x);">
                  <span class="icon icon-primary icon-delete bg-red"></span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <small class="null-data" ng-if="!vm.stockPoolList.length">暂无数据</small>
        <div class="cloud-ui-pagination">
          <ul
            uib-pagination
            ng-model="vm.currentPage"
            items-per-page="vm.itemPerPage"
            total-items="vm.totalItems"
            max-size="5"
            boundary-links="false"
            boundary-link-numbers="true"
            previous-text="上一页"
            ng-change="vm.stockPoolQryFunc();"
            next-text="下一页"
          ></ul>
        </div>
      </div>
    </form>
  </div>
</div>
