<div class="module-page">
  <div class="module-body storeManage">
    <form role="form" class="form-base first-line">
      <div class="form-group">
        <div class="input-item">
          <label for="input0" class="control-label label-normal">店铺编号：</label>
          <div class=" input-normal">
            <input type="text" id="input0" class="form-control" placeholder="请输入" ng-model="vm.brokerId" />
          </div>
        </div>
        <div class="input-item">
          <label for="input1" class="control-label label-normal">店铺名称：</label>
          <div class=" input-normal">
            <input type="text" id="input1" class="form-control" placeholder="请输入" ng-model="vm.brokerName" />
          </div>
        </div>
        <div class="input-item">
          <label for="input2" class="control-label label-normal">店长姓名：</label>
          <div class=" input-normal">
            <input type="text" id="input2" class="form-control" placeholder="请输入" ng-model="vm.manageName" />
          </div>
        </div>
        <div class="search">
          <button if-show-ele="114" type="button" class="btn-normal btn-green" ng-click="vm.storeInfoQry();">查询</button>
        </div>
      </div>
    </form>
    <form role="form" class="form-base">
      <div class="form-title">
        <span class="form-header header-line"></span><span class="form-header header-title">店铺列表</span>
        <div class="add-more">
          <div class=" input-normal">
            <input type="text" id="input1" class="form-control" disabled ng-model="vm.selectedStoreName" />
          </div>
          <button type="button" class="btn-normal btn-blue" ng-click="vm.setDefaultStoreFunc();">设置默认店铺</button>
          <button if-show-ele="110" type="button" class="btn-normal btn-blue" ng-click="vm.openAddStoreModal();">新增</button>
        </div>
      </div>
      <div class="form-group min-table table-responsive">
        <table class="table cloud-ui-table">
          <thead>
            <tr>
              <th class="list-width list-type">店铺编号</th>
              <th class="list-width list-type">店铺名称</th>
              <th class="list-width list-type">店铺管理人</th>
              <th class="list-width list-type">联系电话</th>
              <th class="list-width list-name">店铺标签</th>
              <th class="list-width list-type">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-class="{'blue': item.broker_id === vm.defaultStore.broker_id}" ng-repeat="item in vm.storeList" ng-click="vm.selectedStoreFunc(item);">
              <td class="list-width list-type">{{ item.broker_id }}</td>
              <td class="list-width list-type" title="{{ item.broker_name || '暂无' }}">{{ item.broker_name || '暂无' }}</td>
              <td class="list-width list-type" title="{{ item.manager_name || '匿名' }}">{{ item.manager_name || '匿名' }}</td>
              <td class="list-width list-type">{{ item.mobile }}</td>
              <td class="store-tag list-width list-name">
                <p class="tag-content" title="{{ item.brokertags || '暂无' }}">{{ item.brokertags || '暂无' }}</p>
              </td>
              <td class="list-width list-type list-handle">
                <a href="javascript:;" if-show-ele="113" ng-click="vm.openTagManageModal(item);">
                  <i class="icon icon-primary icon-biaoqian bg-yellow" title="标签管理"></i>
                </a>
                <a href="javascript:;" ng-click="vm.openEditStoreModal(item);">
                  <i class="icon icon-primary icon-edit bg-yellow" title="编辑"></i>
                </a>
                <a href="javascript:;" ng-click="vm.openNonUseModal(item, 4);" if-show-ele="111" ng-if="item.broker_status == 1" >
                  <i class="icon icon-primary icon-lock bg-gray" title="停用"></i>
                </a>
                <a href="javascript:;" ng-click="vm.openNonUseModal(item, 3);" if-show-ele="111" ng-if="item.broker_status == 2">
                  <i class="icon icon-primary icon-deblocking bg-red" title="启用"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="no-data" ng-if="vm.storeList.length == 0">暂无数据</div>
        <div class="cloud-ui-pagination">
          <ul
            uib-pagination
            ng-model="vm.currentPage"
            items-per-page="vm.itemsPerPage"
            total-items="vm.totalItems"
            max-size="vm.maxSize"
            boundary-links="false"
            boundary-link-numbers="true"
            previous-text="上一页"
            ng-change="vm.pageChangeFunc();"
            next-text="下一页"
          ></ul>
        </div>
      </div>
    </form>
  </div>
</div>
