<div class="module-page">
  <div class="module-body viewpointDisplayRule">
    <form role="form" class="form-base">
      <div class="form-title">
        <span class="form-header header-line"></span><span class="form-header header-title">热门观点规则设置</span>
        <button if-show-ele="214" type="button" class="btn-normal btn-green pull-right" ng-click="vm.releaseViewpointRule();">发布</button>
      </div>
      <div class="form-group">
        <div class="form-radio">
          <input class="radio-input-normal" type="radio" name="options" id="priseRadio" value="1" ng-model="vm.viewpointRule"/>
          <label class="radio-label-normal" for="priseRadio"></label>
        </div>
        <label class="radio-title" for="priseRadio">按点赞数由高到低</label>
      </div>
      <div class="form-group">
        <div class="form-radio">
          <input class="radio-input-normal" type="radio" name="options" id="readRadio" value="2" ng-model="vm.viewpointRule"/>
          <label class="radio-label-normal" for="readRadio"></label>
        </div>
        <label class="radio-title" for="readRadio">按阅读量由高到低</label>
      </div>
      <div class="form-group">
        <div class="form-radio">
          <input class="radio-input-normal" type="radio" name="options" id="releaseRadio" value="3" ng-model="vm.viewpointRule"/>
          <label class="radio-label-normal" for="releaseRadio"></label>
        </div>
        <label class="radio-title" for="readRadio">按发布时间由新到旧</label>
      </div>
      <div class="form-title">
        <span class="form-header header-line"></span><span class="form-header header-title">首页展示观点配置（最多可设置 <em>3</em> 个置顶观点）</span>
      </div>
      <div class="form-group">
        <div class="input-item">
          <label class="control-label label-normal">已选中观点：</label>
          <div class=" input-normal">
            <input type="text" class="form-control" ng-model="vm.selectedViewpoint[0]">
            <span ng-click="vm.deleteSelectedViewpoint(0);"><i class="icon icon-error"></i></span>
          </div>
          <div class=" input-normal">
            <input type="text" class="form-control" ng-model="vm.selectedViewpoint[1]">
            <span ng-click="vm.deleteSelectedViewpoint(1);"><i class="icon icon-error"></i></span>
          </div>
          <div class=" input-normal">
            <input type="text" class="form-control" ng-model="vm.selectedViewpoint[2]">
            <span ng-click="vm.deleteSelectedViewpoint(2);"><i class="icon icon-error"></i></span>
          </div>
        </div>
      </div>
      <!-- <div class="form-title">
        <span class="form-header header-line"></span><span class="form-header header-title">首页展示图片配置（最多可设置 <em>3</em> 个置顶图片）</span>
      </div>
      <div class="selected-picture">
        <label class="form-label choose-picture">已选中图片：</label>
        <div class="choose-background">
          <i class="icon icon-add"></i>
          <input type="file" id="img1" class="choose-file" ng-show="false"
                 accept="image/jpg,image/gif, image/jpeg,image/png"/>
          <img onerror="this.src=''" ng-src={{vm.srcArr[0]}} ng-click="vm.uploadFile('img1')">
        </div>
        <div class="choose-background">
          <i class="icon icon-add"></i>
          <input type="file" id="img2" class="choose-file" ng-show="false"
                 accept="image/jpg,image/gif, image/jpeg,image/png"/>
          <img onerror="this.src=''" ng-src={{vm.srcArr[1]}} ng-click="vm.uploadFile('img2')">
        </div>
        <div class="choose-background">
          <i class="icon icon-add"></i>
          <input type="file" id="img3" class="choose-file" ng-show="false"
                 accept="image/jpg,image/gif, image/jpeg,image/png"/>
          <img onerror="this.src=''" ng-src={{vm.srcArr[2]}} ng-click="vm.uploadFile('img3')">
        </div>
      </div> -->
    </form>
    <form role="form" class="form-base">
      <div class="form-title">
        <span class="form-header header-line"></span><span class="form-header header-title">观点列表</span>
      </div>
      <div class="form-group">
        <div class="input-item">
          <label for="input0" class="control-label label-normal">观点编号：</label>
          <div class=" input-normal">
            <input type="text" id="input0" class="form-control" ng-model="vm.viewpointId">
          </div>
        </div>
        <div class="input-item">
          <label for="input1" class="control-label label-normal label-special">发布投顾姓名：</label>
          <div class=" input-normal">
            <input type="text" id="input1" class="form-control" ng-model="vm.adviserName">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-item">
          <label for="input0" class="control-label label-normal">关键字：</label>
          <div class=" input-normal">
            <input type="text" id="input2" class="form-control" ng-model="vm.keywords">
          </div>
        </div>
        <div class="input-item">
          <label for="input1" class="control-label label-normal label-special">发布投顾手机号：</label>
          <div class=" input-normal">
            <input type="text" id="input3" class="form-control" ng-model="vm.adviserTel">
          </div>
        </div>
        <button if-show-ele="213" type="button" class="btn-normal btn-blue pull-right" ng-click="vm.getViewpointList();">查询</button>
      </div>
      <table class="table cloud-ui-table">
        <thead>
        <tr>
          <th>观点编号</th>
          <th>观点标题</th>
          <th>发布时间</th>
          <th>发布投顾姓名</th>
          <th class="phone">发布投顾手机号</th>
          <th>点赞数</th>
          <th>阅读量</th>
          <th>转发数</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vm.viewpointList">
          <td title="{{item.viewpoint_id}}">{{item.viewpoint_id}}</td>
          <td title="{{item.viewpoint_title}}">{{item.viewpoint_title}}</td>
          <td>{{item.send_time}}</td>
          <td title="{{item.broker_namage_name}}">{{item.broker_namage_name}}</td>
          <td title="{{item.broker_manage_tel}}">{{item.broker_manage_tel}}</td>
          <td>{{item.upvote_num}}</td>
          <td>{{item.read_num}}</td>
          <td>{{item.share_num}}</td>
          <td>
            <a href="javascript:;" ng-click="vm.changeHotViewpoint(item);">
              <i class="icon icon-primary icon-stick bg-blue" title="推荐"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
      <small class="null-data" ng-if="vm.viewpointList.length == 0 || vm.viewpointList == undefined">暂无数据</small>
      <div class="cloud-ui-pagination pull-right">
        <ul uib-pagination
            ng-model="vm.currentPage"
            items-per-page="vm.itemsPerPage"
            total-items="vm.totalItems"
            max-size="vm.maxSize"
            boundary-links="false"
            boundary-link-numbers="true"
            previous-text="上一页"
            ng-change="vm.pageChangeFunc();"
            next-text="下一页">
        </ul>
      </div>
    </form>
  </div>
</div>
